language: python
dist: bionic 

compiler:
  - gcc

os:
  - linux

env:
  global:
    - INSTALL_ROOT=$HOME/install

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libboost-all-dev
      - liblapack-dev

sudo: required

python:
  - 2.7
  - 3.6
  - 3.7
  - 3.8

matrix:
    fast_finish: true

before_install:
  - export PYTHONPATH=$INSTALL_ROOT/lib/python$TRAVIS_PYTHON_VERSION/site-packages:$INSTALL_ROOT/lib/python$TRAVIS_PYTHON_VERSION/dist-packages:$PYTHONPATH


install:
  - pushd ..
  - git clone --recursive https://github.com/OPM/opm-common.git
  - mkdir opm-common/build
  - pushd opm-common/build
  - cmake .. -DCMAKE_PREFIX_PATH=$INSTALL_ROOT
             -DCMAKE_INSTALL_PREFIX=$INSTALL_ROOT
             -DBUILD_TESTING=OFF
             -DBUILD_SHARED_LIBS=ON
             -DOPM_ENABLE_PYTHON=ON
             -DOPM_INSTALL_PYTHON=ON
  - make -j4 install
  - popd # back to opm-common
  - popd # back to ecl2df
  - pip install -r requirements_dev.txt
  - pip install .

script:
  - python setup.py test
  - sphinx-apidoc -H "API for ecl2df" -o docs ecl2df
  - python setup.py build_sphinx

deploy:
  - provider: pages
    skip_cleanup: true
    local_dir: ./build/sphinx/html
    github_token:
      secure: "mwHEDpi1MYrpewxsi5+sCD9EcfC698SlxutkRFVkLnVXljssENfRBfekpDrbpJvZidBbwyr8D6LPlTjXO0coXCMql6304XHqz8VVgK6N45J5qT67WjAAbxo5KzovB0CwbPlbtlwX7mk8uBZLYG8gWqWB7NShiq+iPk0YreQkptXEamK4hyGkDaRS2S38Yl9inVbC5CuRBNc5Pk/+Vg+8X8SiXOFzt9wlvzmtcsjye59YigJDu6Iq8amM11MhkP98DYAA6inXvV28z+W6+Ws3UmXJZh80afIV6gGny1XWNYX0r8lZ7lq3Dng4JURfUXPELpyWFR7QmtKOng/sWg/V7DCFqJOYcc0it684S2pWIaJiPqk6zacE4w6sI9B7Af3DarKktEMCnHJY7EFhOSKLX/bb3YWuwJzDQGW2Xd7W+xWjbtn8R0miM9QAwojIk0s1FKAwA+6xc5dsDw4+lu4f+MtO0zY0VT6yHS7SqHw5na43+IfvrUVKpD8tO4owYRtPc5PPDdTh1ALTwxIKN53/9bfyyvDL7BC/gwxXasEidWvqAeH01hs+erJVu/fTRQ6CVCASbS2iqn4/jk+9IN84tuhltukFOFf9MSyIR5J45vSrH1G8QFsDEYwJomin92tkC3derxyVeLJYwqOOix2RMYYacHdkpkyzl0YsKwjlwhc="
    keep_history: true
    on:
      repo: equinor/ecl2df
      branch: master
      python: "3.6"
