language: python
dist: trusty

compiler:
  - gcc

os:
  - linux

env:
  global:
    - INSTALL_ROOT=$HOME/install

addons:
  apt:
    sources:
      - boost-latest
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.9
      - g++-4.9
      - libboost1.55-all-dev
      - liblapack-dev

sudo: required

python:
  - 2.7
  - 3.6

matrix:
    fast_finish: true

before_install:
  - export CXX="g++-4.9" CC="gcc-4.9"
  - export PYTHONPATH=$INSTALL_ROOT/lib/python$TRAVIS_PYTHON_VERSION/dist-packages:$PYTHONPATH


install:
  - pushd ..
  - git clone https://github.com/equinor/libecl.git
  - git clone --recursive https://github.com/OPM/opm-common.git
  - git clone --recursive https://github.com/equinor/sunbeam.git
  - pushd libecl
  - pip install -r requirements.txt
  - popd
  - mkdir libecl/build
  - pushd libecl/build
  - cmake .. -DENABLE_PYTHON=ON
             -DBUILD_TESTS=OFF
             -DCMAKE_INSTALL_PREFIX=$INSTALL_ROOT ..
  - make -j4 install
  - popd
  - mkdir opm-common/build
  - pushd opm-common/build
  - git checkout release/sunbeam/2019.02
  - cmake .. -DCMAKE_PREFIX_PATH=$INSTALL_ROOT
             -DCMAKE_INSTALL_PREFIX=$INSTALL_ROOT
             -DBUILD_TESTING=OFF
             -DBUILD_SHARED_LIBS=ON
  - make -j4 install
  - popd
  - mkdir sunbeam/build
  - pushd sunbeam/build
  - cmake .. -DCMAKE_PREFIX_PATH=$INSTALL_ROOT
             -DUSE_RPATH=ON
             -DCMAKE_INSTALL_PREFIX=$INSTALL_ROOT
             -DPYTHON_EXECUTABLE=`which python`
  - make -j 4 install
  - popd
  - popd
  - pip install -r requirements_dev.txt
  - pip install .

script:
  - pytest
  - make docsrun

deploy:
  - provider: pages
    skip_cleanup: true
    local_dir: ./docs/_build/html
    github_token:
      secure: "mwHEDpi1MYrpewxsi5+sCD9EcfC698SlxutkRFVkLnVXljssENfRBfekpDrbpJvZidBbwyr8D6LPlTjXO0coXCMql6304XHqz8VVgK6N45J5qT67WjAAbxo5KzovB0CwbPlbtlwX7mk8uBZLYG8gWqWB7NShiq+iPk0YreQkptXEamK4hyGkDaRS2S38Yl9inVbC5CuRBNc5Pk/+Vg+8X8SiXOFzt9wlvzmtcsjye59YigJDu6Iq8amM11MhkP98DYAA6inXvV28z+W6+Ws3UmXJZh80afIV6gGny1XWNYX0r8lZ7lq3Dng4JURfUXPELpyWFR7QmtKOng/sWg/V7DCFqJOYcc0it684S2pWIaJiPqk6zacE4w6sI9B7Af3DarKktEMCnHJY7EFhOSKLX/bb3YWuwJzDQGW2Xd7W+xWjbtn8R0miM9QAwojIk0s1FKAwA+6xc5dsDw4+lu4f+MtO0zY0VT6yHS7SqHw5na43+IfvrUVKpD8tO4owYRtPc5PPDdTh1ALTwxIKN53/9bfyyvDL7BC/gwxXasEidWvqAeH01hs+erJVu/fTRQ6CVCASbS2iqn4/jk+9IN84tuhltukFOFf9MSyIR5J45vSrH1G8QFsDEYwJomin92tkC3derxyVeLJYwqOOix2RMYYacHdkpkyzl0YsKwjlwhc="
    keep_history: true
    on:
      branch: master
      python: "3.6"
