name: codecoverage
on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    env:
      OS: ${{ matrix.os }}
      PYTHON: '3.11'
      UV_SYSTEM_PYTHON: 1

    steps:

    - name: Install Ubuntu dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libegl1

    - uses: actions/checkout@v6

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.11

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        python-version: "3.11"

    - name: Install res2df
      run: |
        uv pip install ".[tests, ert]"

    - name: Generate coverage report and upload
      run: |
        pytest tests --disable-warnings --cov=res2df --cov-report=xml
        # Uninstall package that res2df supports not being installed:
        uv pip uninstall ert
        # Run tests again in cov-append-mode:
        pytest tests --disable-warnings --cov=res2df --cov-report=xml --cov-append
        bash <(curl -s https://codecov.io/bash)
