name: codecoverage
on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    env:
      OS: ${{ matrix.os }}
      PYTHON: '3.11'

    steps:

    - name: Install Ubuntu dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libegl1

    - uses: actions/checkout@v5

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11
        cache: "pip"

    - name: Install res2df
      run: |
        pip install pip -U
        pip install ".[tests, ert]"

    - name: Generate coverage report and upload
      run: |
        pytest tests --disable-warnings --cov=res2df --cov-report=xml
        # Uninstall packages that res2df supports not being installed:
        pip uninstall --yes ert networkx opm
        # Run tests again in cov-append-mode:
        pytest tests --disable-warnings --cov=res2df --cov-report=xml --cov-append
        bash <(curl -s https://codecov.io/bash)
