name: res2df

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

  schedule:
    # Run CI every night and check that tests are working with latest dependencies
    - cron: '0 0 * * *'

env:
  ERT_SHOW_BACKTRACE: 1
  UV_SYSTEM_PYTHON: 1

jobs:
  res2df:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11', '3.12', '3.13', '3.14']
        include:
          # For one of the Python versions we
          # install the extra dependency ert
          # (in order to not double the job matrix)
          - python-version: '3.11'
            install-ert: true

    steps:

      - name: Install Ubuntu dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libegl1

      - name: Checkout commit locally
        uses: actions/checkout@v6

      - name: Checkout tags
        # This seems necessary for setuptools_scm to be able to infer
        # the correct version.
        run: git fetch --unshallow --tags

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Install res2df with dependencies
        run: |
          uv pip install ".[tests, docs]"


      - name: Install ert
        if: matrix.install-ert
        run: uv pip install ".[ert]"

      - name: List all installed packages
        run: uv pip freeze

      - name: Run tests
        run: |
          python -c "import res2df"
          pytest tests/

      - name: Syntax check documentation
        run: |
          rstcheck -r docs

      - name: Build documentation
        run: |
          sudo apt-get install graphviz
          sphinx-build -W -b html docs build/sphinx/html

      - name: Update GitHub pages
        if: github.repository_owner == 'equinor' && github.ref == 'refs/heads/master' && matrix.python-version == '3.11'
        run: |
            cp -R ./build/sphinx/html ../html

            git config --local user.email "res2df-github-action"
            git config --local user.name "res2df-github-action"
            git fetch origin gh-pages
            git checkout --track origin/gh-pages
            git clean -f -f -d -x
            git rm -r *

            cp -R ../html/* .

            git add .

            if git diff-index --quiet HEAD; then
              echo "No changes in documentation. Skip documentation deploy."
            else
              git commit -m "Update Github Pages"
              git push "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git" gh-pages
            fi
